@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    font-family: poppins;
  

}
body{
    
        background: #dff4fc;
    
    height: 100vh;
    
    
}
:root{
    --bg_color:linear-gradient(to left,gold,skyblue);
    --text-color:black;
    --btn_bg_color:gold;
    --font_size:17px;   
    --LogoText_size:30px;
    --LogoText-color:gold;
}
.shofone_banner{
    width: 30px;
    height: 30px;
}